.trending-main {
    width: 100%;
    margin: 50px 0;
    color: #ffffff;

    h2 {
        font-family: Outfit;
        font-size: 32px;
        font-weight: 400;
        line-height: 40.32px;
        letter-spacing: -0.5px;
        text-align: left;
        margin-bottom: 22px;
    }


    .trending-card {
        width: 450px;
        position: relative;

        .main-img {
            width: 100%;
            border-radius: 10px;
        }

        .save {
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
        }

        .trending-card-text {
            position: absolute;
            bottom: 0;
            padding: 25px 20px;


            h3 {
                font-family: Outfit;
                font-size: 24px;
                font-weight: 400;
                line-height: 30.24px;
                text-align: left;
            }

            .trending-about {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: start;
                column-gap: 8px;
                margin-bottom: 5px;

                .category {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 4px;

                    img {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 12px;
                        height: 12px;
                    }
                }

                p {
                    font-family: Outfit;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 18.9px;
                }
            }
        }
    }
}

@media only screen and (max-width: 889px) {
    .trending-main {
        padding: 0 20px;
        margin: 10px 0;
    }
}

@media only screen and (max-width: 530px) {
    .trending-main {
        .trending-card {
            width: 96%;
            max-width: 350px;
        }
    }
}

@media only screen and (max-width: 350px) {
    .trending-main {
        .trending-card {
            max-width: 250px;
        }
    }
}